// devices
$desktop: 1366px;
$tablet: 900px;
$mobile: 500px;
$mini-mobile: 400px;


// colors
$clr-100: #e8f7fb;
$clr-200: #da722c;
$clr-300: #057ada;
$clr-400: #6f7dfb;
$clr-500: #023047;
$clr-600: #070917;


$border-radius: 24px;

